<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img class="duck" src="/assets/icon/duck-icon.jpg" />
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges">
      <ion-icon name="logo-freebsd-devil"></ion-icon>
      <ion-label>Aufgaben</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="map"></ion-icon>
      <ion-label>Karte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wat">
      <ion-icon name="people"></ion-icon>
      <ion-label>WAT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
