<ion-header>
  <ion-toolbar>
    <ion-title>
      Start
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Freunde</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      This is content, without any paragraph or header tags, within an
      ion-card-content element.

      <ion-button color="danger">Primary</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="box">
    <div class="zelle">
      <img class="duck" src="/assets/icon/duck-icon.jpg" />
      <img class="duck" src="/assets/icon/duck-icon.jpg" />
      <img class="duck" src="/assets/icon/duck-icon.jpg" />
    </div>
    <div class="zelle">2</div>
  </div>
</ion-content>
