.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.zelle {
  padding: 20px 10px 5px 0px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}
